
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Weather App</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>

        <p> Upload CSV</p>
        <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>{{ form.non_field_errors }}</p> 

                        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

                        <p class="error">
                            {{ form.docfile.errors }}
                            {{ form.date.errors }}
                        </p>
                        <p>

                            {{ form.docfile }}

                            {{ form.date }} (yyyy-mm-dd)
                        </p>
                          <p><input type="submit" value="Upload"/></p>
                    </form>
        <div id="table">
            <vtable v-if="Boolean({{lines}})" lines="{{lines}}" date="{{date}}"></vtable>
        </div>

    </body>


</html>


<script>

{% verbatim %}
    Vue.component('vtable', {
      template:
      `<div>
        <table>
          <tr>
            <th>First Name</th>
            <th>Last name</th>
            <th>City</th>
            <th>Phone</th>
            <th>Weather</th>
          </tr>
          <tr v-for="(obj, index) in list">
            <td>{{ obj.firstName }}</td>
            <td>{{ obj.lastName }}</td>
            <td>{{ obj.city }}</td>
            <td>{{ obj.phone }}</td>
            <td> 
                <span v-if="obj.weatherObj">
                    {{ obj.weatherObj.message }}
                    <img :src="obj.weatherObj.imgSrc" />
                </span>
            </td>
          </tr>
        </table>
      </div>`,

        data: function() {
            return {
                objects: null,
                list: [],
                top: 0,
                bottom: 12
            }
        },

        props: {
            
            lines: {
                type: [Array, String],
                required: true
            },
            
            date: {
                type: String,
                required: true
            }
        },

      created() {
        this.parseData();
      },

      methods: {
        async parseData() {
            let data = this.lines.split(',').slice(12, this.lines.length);    
            for (let x = 0; this.bottom <= data.length; x++, this.top += 12, this.bottom += 12) {
                let objects = {};
                objects.firstName = data[2 + this.top];
                objects.lastName = data[3 + this.top];
                objects.city = data[6 + this.top];
                objects.country = data[7 + this.top];
                objects.phone = data[8 + this.top];
                objects.weatherObj = await this.fetchDate(this.date, objects.city);
                this.list.push(objects);
            }

        },

        async fetchDate(date, city) {
            let inputDate = new Date(date);
            const today = new Date();
            let formattedDateToday = today.getFullYear() + "-" + (today.getMonth() + 1) + "-" + today.getDate();
            let formattedInputDate = inputDate.getFullYear() + "-" + (inputDate.getMonth() + 1) + "-" + inputDate.getDate();

            if (formattedDateToday > formattedInputDate) {
                let url = await fetch(`https://api.weatherapi.com/v1/history.json?key=ef3f663500f64bd98ed234722202408&q=${city}&dt=${date}`);
                response = await url.json();
            } else {
                let days_elapsed = parseInt((inputDate.getTime() - today.getTime()) / (1000 * 3600 * 24));
                let url = await fetch(`https://api.weatherapi.com/v1/forecast.json?key=ef3f663500f64bd98ed234722202408&q=${city}&days=${days_elapsed}`);
                response = await url.json();
            }
            if (response) {
                if (response.error) {
                    return {message: response.error.message};
                }

                const condition = response.forecast.forecastday[0].day.condition;
                return {message: condition.text, imgSrc: condition.icon };
            }

            return {message: 'Could not fetch data with provided date.'};
            
        }

      },
  });

    new Vue({
        el: '#table',
    })

{% endverbatim %}

</script>

<style>

    #table {
        display: flex;
        flex-align: center;
        justify-content: center;
    }
    table {
      border-collapse: collapse;
    }

    table, th, td {
      border: 1px solid black;
      vertical-align: middle;
      padding: 1rem;
    }

    tr:nth-child(even) {background-color: #f2f2f2;}

    ul.errorlist {
        list-style-type: none;
        color: red;
    }
</style>